* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: transparent;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

title {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
	overflow: hidden;
}

/*
--
---
btn-hover
---
--
*/

.btn-active {
	line-height: 42px;
	padding: 0;
	border: none;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.btn-active:hover {
	color: #000000;
	background: transparent;
	box-shadow: none;
}
.btn-active:before,
.btn-active:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #000000;
	box-shadow:
		-1px -1px 5px 0px #fff,
		7px 7px 20px 0px #0003,
		4px 4px 5px 0px #0002;
	transition: 400ms ease all;
}
.btn-active:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.btn-active:hover:before,
.btn-active:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/*
--
---
footer-active
---
--
*/

.link-active > a {
	line-height: 42px;
	padding: 0;
	border: none;
}
.link-active > a:hover {
	color: #9a9898;
	background: transparent;
	box-shadow: none;
}
.link-active > a:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #efeaea;
	box-shadow:
		-1px -1px 5px 0px #fff,
		7px 7px 20px 0px #0003,
		4px 4px 5px 0px #0002;
	transition: 400ms ease all;
}
.link-active > a:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.link-active > a:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.blog__link-active > a:after {
	background-color: #000;
}

/*
--
---
popup
---
--
*/

.popup {
	padding-right: 10%;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
	overflow-y: auto;
	overflow-x: hidden;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}
.popup__body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 30px 10px;
}
.popup__content {
	position: relative;
	padding: 30px;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	transition: all 0.8s ease 0s;
	background-color: #e0d7d7;
	width: 400px;
	height: 450px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 50px;
	border-radius: 20px;
}
.popup__content form {
	width: 100%;
}
.form__container {
	width: 100%;
}
.popup__content input {
	width: 80%;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
}
.popup__title {
	font-size: 40px;
	margin-bottom: 30px;
}
.popup__text {
	color: #000;
}

.popup-search__content {
	background-color: #e0d7d7;
	height: 150px;
	width: 500px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 50px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup-search__content > .popup__title {
	font-size: 30px;
}

.popup-search__input-container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.popup__search-input {
	padding: 20px;
	width: 300px;
	height: 30px;
	border-radius: 5px;
}

body.lock {
	overflow: hidden;
}
body {
	overflow-x: hidden;
}
.popup-register__title {
	text-align: center;
	font-size: 24px;
	color: #000;
}
.form__container {
	margin: 0 auto;
}
.form__container input {
	display: block;
	height: 2px;
	width: 75%;
	position: absolute;
	background-color: #4d4d4d;
	color: #ffffff;
	padding: 0 15px;
	font-weight: 300;
	border-radius: 5px;
	transition: 0.5s all;
}
label {
	display: inline-block;
	color: #000;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	transition: 0.5s all;
}
#username {
	bottom: 305px;
}
label[for="username"] {
	bottom: 310px;
}
#password {
	bottom: 195px;
}
label[for="password"] {
	bottom: 200px;
}
::placeholder {
	color: transparent;
}
.my-style::placeholder {
	color: #a5a5a5;
}
.form__container > button {
	width: 75%;
	position: absolute;
	bottom: 75px;
	padding: 15px 0;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.popup-about__content {
	background-color: #e0d7d7;
	height: 450px;
	width: 80vw;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 50px;
	border-radius: 20px;
}
.popup-about__content-block {
	column-gap: 30px;
	display: flex;
	height: 350px;
}
.popup-about__text {
	font-size: 16px;
}
.popup-about__img {
	object-fit: contain;
	border-radius: 5px;
	width: 50%;
	height: 90%;
}
.popup-video__content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__video {
	margin: 0 auto;
	height: 95%;
	width: 80%;
	border-radius: 5px;
}

/* ---- */

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.wrapper__sub-title {
	font-size: clamp(18px, 3rem, 48px);
	font-weight: 400;
	line-height: 57.6px;
}
.wrapper__title {
	display: flex;
	margin: 0 auto;
	padding: 8px 4px 8px 4px;
	font-size: clamp(10px, 0.875rem, 14px);
	background-color: #fff;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 4px;
}
.main {
	flex-grow: 1;
}

.header {
	margin: 0 auto;
	background: rgb(0, 53, 59);
	min-width: 100%;
	color: #fff;
	padding-bottom: 377px;
	padding-right: 0%;
}

.footer {
	background-color: #1c1a1a;
}

/*
	--	!!!
   ---
      header
   ---
	-- !!!
*/

.container {
	width: 90vw;
	padding: 30px;
	margin: 0 auto;
}
.header__logo {
	padding: 30px;
	min-width: 240px;
}
.header__top {
	display: flex;
	z-index: 1;
	max-height: 200px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}
.menu__burger {
	display: none;
}
.header__menu {
	display: flex;
	align-items: center;
	gap: 24px;

	position: relative;
	overflow: hidden;
	padding: 0 20px;
	border-radius: 40px;
	box-shadow: 0 5px 20px rgba(3, 6, 20, 0.8);
}

.header__menu-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: 3s;
	padding: 20px;
	z-index: 1;
	position: relative;
}

.header__menu-item:before {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #dfe2ea;
	border-radius: 8px 8px 0 0;
	opacity: 0;
	transition: 0.5s;
}

.header__menu-item:not(.is-active):hover:before {
	opacity: 1;
	bottom: 0;
}
.header__menu-indicator {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5px;
	transition: 1s;
	z-index: 1;
	border-radius: 8px 8px 0 0;
}

.header__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 290px;
}
.btn__search-wrapper {
	transition: 0.5s;
}
.btn__search-wrapper:hover {
	transform: scale(1.2);
}
.btn__basket-wrapper {
	transition: 0.5s;
}
.btn__basket-wrapper:hover {
	transform: scale(1.2);
}
.btn__register-wrapper {
	transition: 0.5s;
}
.btn__register-wrapper:hover {
	transform: scale(1.2);
}
.btn__search {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.btn__basket {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.btn__register {
	display: flex;
	width: 105px;
	height: 50px;
	background-color: #fff;
	color: #000;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.header__greeting {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	margin-bottom: 80px;
}
.greeting__main-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.greeting__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 400px;
}
.greeting__title {
	font-size: 56px;
	font-weight: 400;
	line-height: 67.2px;
	margin-bottom: 30px;
}
.greeting__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 40px;
}
.greeting__btn {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.btn__explore {
	color: #fff;
	border-radius: 8px;
	background: rgb(34, 164, 90);
	width: 170px;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 16px;
	transition: 0.5s;
}
.btn__explore:hover {
	transform: scale(1.1);
}
.btn__watching:hover {
	transform: scale(1.2);
}
.btn__watching {
	flex-wrap: wrap;
	width: 170px;
	height: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: all 0.5s;
}
.greeting__reviews {
	display: flex;
}
.reviews__autors {
	margin-right: 18px;
}
.stars__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.greeting__img {
	z-index: 1;
	position: relative;
}
.greeting__img img {
	max-width: 100%;
}
.header__bottom-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
}

/*
   --!!!
   ---
      About us
   ---
   --!!!
*/

.about__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -213px;
	min-height: 425px;
	border-radius: 24px;
	background: rgb(252, 216, 202);
	padding: 64px 275px;
	margin-bottom: 160px;
}
.about__sub-title {
	font-size: 48px;
	font-weight: 400;
	line-height: 57.6px;
	text-align: center;
	margin-bottom: 30px;
}
.about__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
	margin-bottom: 40px;
}
.about__btn-container {
	text-align: center;
}

.about__btn {
	max-height: 50px;
	align-items: center;
	color: #fff;
	border-radius: 5px;
	background: rgb(31, 41, 55);
	padding: 0 25px 0 25px;
	transition: 0.5s;
	position: relative;
}
.about__btn:active {
	transform: scale(0.8);
}

/*
   -- !!!
	---
	   courses-info 
	---
	-- !!!
*/

.courses-info__container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 130px;
	column-gap: min(100px);
	margin-bottom: 130px;
}
.courses-info__content-wrapper--1 {
	grid-template-areas: "image-1 content-1";
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 120px;
}
.courses-info__content-wrapper--2 {
	grid-template-areas: "content-2 image-2";
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 120px;
}
.courses-info__image--one {
	grid-area: image-1;
}
.courses-info__content--one {
	grid-area: content-1;
}
.courses-info__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.courses-info__title {
	margin-bottom: 30px;
}
.courses-info__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 40px;
}
.courses-info__image {
	width: 100%;
}
.courses-info__image img {
	width: 100%;
}
.courses-info__hidden-text {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.5s ease-out;
}
.courses-info__hidden-text._show {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.5s ease-in;
}
.courses-info__buttons {
	display: flex;
}
.courses-info__more {
	min-width: 80px;
	text-align: center;
	transition: all 0.5s;
}
.courses-info__more:active {
	transform: scale(0.8);
}
.wrapper__register-btn {
	display: flex;
	align-items: center;
	transition: 0.5s;
}
.wrapper__register-btn:hover {
	transform: scale(1);
}
.wrapper__courses-link {
	align-self: center;
	transition: all 0.5s;
}
.wrapper__courses-link:hover {
	transform: scale(1.1);
}
.courses-info__start {
	position: relative;
	border-radius: 8px;
	background: rgb(31, 41, 55);
	color: #fff;
	padding: 12px 25px 12px 25px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.5s;
}
.courses-info__start:active {
	transform: scale(0.8);
}

.courses-info__more {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 16px;
}
.courses-info__image--two {
	grid-area: image-2;
}
.courses-info__content--two {
	grid-area: content-2;
}

/*
   -- !!!
	---
	   trending
	---
	-- !!!
*/

.trending__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.trending__title {
	border-radius: 4px;
	background: rgb(252, 216, 202);
	margin-bottom: 10px;
}
.trending__sub-title {
	text-align: center;
	margin-bottom: 30px;
}
.trending__text {
	margin: 0 auto;
	text-align: center;
	max-width: 730px;
	margin-bottom: 60px;
}
.tending__tables {
	position: relative;
	display: flex;
	justify-content: space-between;
	column-gap: 3%;
	width: 90vw;
}
.controlls--one {
	position: absolute;
	display: none;
}
.tables__item {
	letter-spacing: 1.5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 500px;
	width: 30%;
	padding: 30px;
	border-radius: 16px;
	border-bottom-right-radius: 0px;
	transition: 0.5s;
}
.slider__item--one {
	transition: all 1s ease;
}
.slider__item--one.active {
	opacity: 1;
}
.tables__item:hover {
	transform: scale(1.1);
}
.tables__item--three {
	background: url("/fonts/trending/item-3.png") 0 0 no-repeat scroll;
}
.tables__item--two {
	background: url("/fonts/trending/item-2.png") 0 0 no-repeat scroll;
}
.tables__item--one {
	background: url("/fonts/trending/item-1.png") 0 0 no-repeat scroll;
}
.item__title {
	width: 40%;
	margin-left: 0;
	color: #000;
}
.item__sub-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 33.6px;
	width: 100%;
}
.item__price {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.item__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 8px;
	width: 70%;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 16px;
	transition: 0.5s;
}
.item__btn:active {
	transform: scale(0.9);
}
.item__btn button {
	color: #fff;
	border-radius: 8px;
	background-color: rgb(34, 164, 90);
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 16px;
	transition: 0.5s;
}
.tables__btn:hover {
	transform: scale(1.1);
	background-color: #000;
}
.tables__btn:active {
	transform: scale(0.9);
}

/*
   -- !!!
	---
	   join 
	---
	-- !!!
*/

.join__container {
	margin-bottom: 190px;
}
.join__top {
	border-radius: 24px;
	background: rgb(252, 216, 202);
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 80px;
	max-height: 539px;
}
.join__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	padding: 64px;
}
.join__title {
	max-width: 65px;
	margin-left: 0;
	margin-bottom: 10px;
}
.join__sub-title {
	margin-bottom: 30px;
}
.join__text {
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.join__btn {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	border-radius: 5px;
	background: rgb(31, 41, 55);
	padding: 13px 25px 13px 25px;
	transition: 0.5s;
}
.join__btn:active {
	transform: scale(0.8);
}
.join__img {
	overflow: hidden;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}
.join__points {
	display: grid;
	justify-content: space-between;
	grid-template-rows: 210px;
	grid-template-columns: 1fr 1fr 1fr;
}
.points__item {
	display: flex;
	flex-direction: column;
	max-height: 220px;
	row-gap: 15px;
	padding: 10px;
	max-width: 394px;
}
.point__title {
	font-size: clamp(16px, 1.5rem, 24px);
	font-weight: 400;
	line-height: 33.6px;
}
.point__text {
	font-size: clamp(12px, 0.875rem, 16px);
	font-weight: 400;
	line-height: 24px;
}

/*
   -- !!!
	---
	   benefits 
	---
	-- !!!
*/

.benefits__container {
	margin-bottom: 400px;
}
.benefits__top {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.benefits__title {
	margin-bottom: 10px;
	background: rgb(252, 216, 202);
}
.benefits__sub-title {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 690px;
}
.benefits__text {
	margin: 0 auto;
	margin-bottom: 80px;
	max-width: 730px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.benefits__points {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "benefits__left benefits__img benefits__right";
	margin-bottom: 80px;
}
.points__item {
	text-align: center;
}
.points__item:nth-child(even) {
	margin-bottom: 0;
}
.points__item--1 {
	row-gap: min(15px);
}
.benefits__img {
	margin: 0 96px;
	grid-area: benefits__img;
}
.benefits__btn {
	margin: 0 auto;
	position: relative;
	border-radius: 5px;
	background: rgb(31, 41, 55);
	color: #fff;
	padding: 12px 25px 12px 25px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.5s;
}
.benefits__btn:active {
	transform: scale(0.8);
}
.benefits__btn-container {
	text-align: center;
}

.points__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	row-gap: 15px;
	padding: 55px 0px;
	grid-area: benefits__left;
}
.points__right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	row-gap: 15px;
	padding: 55px 0px;
	grid-area: benefits__right;
}

/*
   -- !!!
	---
	   testimonials 
	---
	-- !!!
*/

.testimonials {
	display: flex;
	z-index: 2;
}
.testimonials__container {
	display: flex;
	flex-direction: column;
	z-index: 2;
	margin-top: -213px;
	min-height: 780px;
	width: 90vw;
	border-radius: 24px;
	background: rgb(252, 216, 202);
	padding: 96px 0px;
	margin-bottom: -390px;
}
.testimonials__title {
	margin-bottom: 10px;
}
.testimonials__sub-title {
	margin-bottom: 30px;
	text-align: center;
}
.testimonials__text {
	padding: 30px;
	margin-bottom: 80px;
	text-align: center;
}
.testimonials__coments {
	position: relative;
	min-height: 330px;
	padding: 30px;
}
.coments__item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 70%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 30px;
	height: 330px;
	border-radius: 16px;
}
.slider__item {
	opacity: 0;
	transition: all 1s ease;
}
.slider__item.active {
	opacity: 1;
}
.next {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	right: 10px;
	opacity: 1;
	height: 50px;
	z-index: 1;
	transition: all 0.5s;
}
.next:hover {
	top: 45%;
	transform: scale(1.2);
}
.next:active {
	transform: scale(0.8);
}
.prev {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 10px;
	opacity: 1;
	height: 50px;
	z-index: 1;
	transition: all 0.5s;
}
.prev:hover {
	transform: scale(1.2);
	top: 45%;
}
.prev:active {
	transform: scale(0.8);
}
.coments__text {
	font-size: 17px;
	font-weight: 400;
	line-height: 27px;
	max-height: 50%;
	overflow-y: scroll;
	z-index: 5;
}
.coments__autor {
	display: flex;
	column-gap: 15px;
}
.autor__name {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.autor__position {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(107, 114, 128);
}

/*
   -- !!!
	---
	   blog 
	---
	-- !!!
*/

.blog {
	display: flex;
	z-index: 1;
	background: rgb(0, 53, 59);
	padding-top: 500px;
}
.blog__container {
	display: flex;
	flex-direction: column;
}
.blog__top {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 80px;
}
.blog__title {
	margin-left: 0;
	max-width: 45px;
	background: rgb(252, 216, 202);
}
.blog__sub-title {
	color: #fff;
	text-align: center;
}
.blog__btn {
	min-height: 50px;
	min-width: 105px;
	border-radius: 8px;
	background: rgb(255, 255, 255);
	transition: 0.5s;
}
.blog__btn:hover {
	transform: scale(1.2);
	background-color: #000;
	color: #fff;
}
.blog__items {
	display: flex;
	justify-content: space-around;
	column-gap: 20px;
	row-gap: 100px;
	padding: 50px;
	flex-wrap: wrap;
	width: 100%;
	max-height: 650px;
	overflow: hidden;
	transition: all 0.5s;
}
.blog__items._active {
	max-height: 1300px;
}
.blog__item {
	background-color: #fff;
	max-width: 350px;
	min-height: 550px;
	transition: 0.5s;
}
.blog__item:hover {
	transform: scale(1.1);
}
.blog__item-info {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px;
}
.blog__info-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 160px;
}
.blog__item-title {
	max-width: 100px;
	text-align: center;
	padding: 4px 8px;
	border-radius: 4px;
	background: rgb(170, 222, 168);
}
.blog__item-sub-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 33.6px;
}
.blog__item-text {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}
.blog__item-link {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.5s;
}
.blog__item-img > img {
	max-width: 350px;
}
.blog__item-link > a {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.blog__item-link > a:active {
	transform: scale(0.8);
}

/*
   -- !!!
	---
	   register 
	---
	-- !!!
*/

.register {
	background: rgb(0, 53, 59);
	padding: 130px 0;
}
.register__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 225px;
	max-width: 700px;
	color: #fff;
}
.register__title {
	text-align: center;
	margin-bottom: 30px;
}
.register__text {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 40px;
}
.register__buttons {
	display: flex;
	justify-content: center;
	column-gap: 15px;
}
.register__btn-start {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	min-height: 50px;
	min-width: 135px;
	border-radius: 8px;
	background: rgb(34, 164, 90);
	transition: 0.5s;
}
.register__btn-start:hover {
	transform: scale(1.1);
	background-color: #000;
	color: #fff;
}
.register__btn-contact {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: #fff;
	border-radius: 8px;
	min-height: 50px;
	min-width: 135px;
	transition: 0.5s;
}
.register__btn-contact:hover {
	transform: scale(1.1);
	background-color: #000;
	color: #fff;
}
.popup-contact__links-container {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.links-container__item:nth-child(odd) {
	padding-bottom: 25%;
	border-bottom: 2px solid #000;
}
.links-container__item {
	font-size: 20px;
}
.links-container__item > p {
	margin-bottom: 30px;
}
.links-container__item > a {
	transition: all 0.5s;
	font-size: 20px;
}
.links-container__item > a:hover {
	color: #a5a5a5;
}

/*
   -- !!!
	---
	   footer 
	---
	-- !!!
*/

.footer {
	background: rgb(0, 53, 59);
}
.footer__link-wrapper > a {
	display: inline-block;
	position: relative;
	transition: all 0.5s;
}
.footer__link-wrapper > a:active {
	transform: scale(0.8);
}
.footer__container {
	color: #fff;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.input__text-top {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}
.input__container {
	margin-bottom: 24px;
	display: flex;
	justify-content: space-between;
	column-gap: 16px;
	width: 400px;
}
.wrapper__input {
	width: 60%;
	display: flex;
	justify-content: center;
}
.wrapper__input > input {
	display: block;
	color: #000;
	border-radius: 8px;
	background: rgb(255, 255, 255);
	width: 260px;
	min-height: 48px;
	padding: 0 20px;
}

.input__btn {
	color: #fff;
	border-radius: 8px;
	background: rgb(34, 164, 90);
	min-width: 125px;
	min-height: 50px;
	margin-left: 16px;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	transition: 0.5s;
}

.input__btn:hover {
	transform: scale(1.1);
	background-color: #000;
}
.input__btn:active {
	transform: scale(0.9);
}
.input__text-bottom {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.footer__page-section-list {
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.footer__page-sections > li {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 16px;
}
.page-section__title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 24px;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	border-top: solid 1px rgba(255, 255, 255, 0.08);
}

/* ------------- */

.adaptive-text__big-title {
	font-size: calc(20px + 36 * (100vw / 1440));
}
.adaptive-text__title {
}
.adaptive-text__sub-title {
}
.adaptive-text__button {
}
.adaptive-text__content {
	font-size: calc(12px + 6 * (100vw / 1440));
}

@media (max-width: 1200px) {
	.adaptive-text__big-title {
		font-size: calc(20px + (36 + 36 * 0.7) * ((100vw - 320px) / 1440));
	}
	.header__logo {
		display: none;
	}
	.menu__burger {
		z-index: 6;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__burger span,
	.menu__burger::before,
	.menu__burger::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.5s ease 0s;
		background-color: #fbf9f9;
	}
	.menu__burger::after,
	.menu__burger::before {
		content: "";
	}
	.menu__burger::before {
		top: 0;
	}
	.menu__burger::after {
		bottom: 0;
	}
	.menu__burger span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__burger._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__burger._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__burger._active::after {
		top: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.header-menu__wrapper {
		z-index: 5;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 50px;
		transition: left 0.5s ease 0s;
		overflow: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 0;
		padding: 20px;
	}
	.header-menu__wrapper._active {
		left: 0;
	}
	.header__menu {
		margin: 0 auto;
		justify-content: center;
		flex-direction: column;
		box-shadow: none;
		width: 20%;
		height: 80%;
		gap: 0;
		padding: 20px;
	}
	.header__menu-indicator {
		opacity: 0;
	}
	.benefits__points {
		margin: 0 auto;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"benefits__img benefits__img"
			"benefits__left benefits__right";
	}
	.benefits__img {
		justify-content: center;
		margin: 0 auto;
	}
}

@media (max-width: 1080px) {
	.adaptive-text__big-title {
		line-height: 45px;
	}
	.about__container {
		padding: 65px;
	}
	.courses-info__content-wrapper--1 {
		grid-template-columns: 1fr;
		grid-template-areas:
			"image-1"
			"content-1";
		row-gap: 30px;
	}
	.courses-info__content-wrapper--2 {
		grid-template-columns: 1fr;
		grid-template-areas:
			"image-2"
			"content-2";
		row-gap: 30px;
	}
	.courses-info__content {
		margin-bottom: 120px;
	}
	.tending__tables {
		position: relative;
		justify-content: center;
		width: 80vw;
		height: 500px;
	}
	.tables__item {
		position: absolute;
		width: 40%;
	}

	.slider__item--one {
		opacity: 0;
	}
	.slider__item--one.active {
		opacity: 1;
	}
	.controlls--one {
		display: block;
	}
	.join__info {
		padding: 32px;
	}
	.join__sub-title {
		font-size: clamp(24px, 2rem, 36px);
		line-height: 36px;
		margin-bottom: 10px;
	}
	.join__text {
		font-size: clamp(14px, 1rem, 18px);
		margin-bottom: 10px;
	}
	.footer__content {
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		row-gap: 60px;
	}
	.footer__section-input {
		margin: 0 auto;
	}
	.footer__page-section-list {
		margin: 0 auto;
		width: 80%;
	}
	.input__btn {
		margin-left: 0;
	}
	.popup-about__text {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.tables__item {
		max-height: 450px;
	}
	.popup-about__content .popup__title {
		text-align: center;
		padding-top: 10%;
		margin-bottom: 0;
		font-size: 36px;
	}
	.popup-about__content-block {
		align-items: center;
	}
	.popup-about__content-block img {
		display: none;
	}
}

@media (max-width: 660px) {
	.greeting__main-content {
		display: flex;
	}
	.greeting__info {
		text-align: center;
	}
	.greeting__img {
		display: none;
	}
	.greeting__btn {
		justify-content: center;
	}
	.greeting__reviews {
		justify-content: center;
	}
	.tending__tables {
		align-items: center;
	}
	.tables__item {
		max-width: 60vw;
		max-height: 400px;
	}
	.controlls--one {
		max-height: 30px;
	}
	.tables__item {
		width: 50vw;
		max-height: 350px;
		padding: 15px;
	}
	.item__title {
		width: 50%;
	}
	.join__img {
		display: none;
	}
	.join__top {
		position: relative;
		min-height: 460px;
	}
	.join__info {
		position: absolute;
		height: 100%;
	}
	.point__title {
		font-size: 16px;
	}
	.point__text {
		font-size: 12px;
	}
	.points__item--2 {
		display: none;
	}
	.points__item--4 {
		display: none;
	}
	.benefits__img img {
		width: 73vw;
	}
	.input__container {
		width: 80vw;
		text-align: center;
		flex-direction: column;
		row-gap: 80px;
	}
	.wrapper__input {
		margin: 0 auto;
		width: 80%;
	}
	.wrapper__input > input {
		text-align: center;
		width: 60%;
	}
	.footer__page-section-list {
		display: grid;
		justify-self: center;
		text-align: center;
		grid-template-columns: 1fr 1fr;
		row-gap: 50px;
	}
	.footer__bottom {
		flex-direction: column;
		row-gap: 30px;
	}
}

@media (max-width: 480px) {
	.header__top {
		margin: 0 auto;
		justify-content: space-between;
		max-width: 80vw;
	}
	.greeting__main-content {
		width: 80vw;
	}
	.greeting__info {
		width: 100%;
	}
	.greeting__btn {
		width: 100%;
	}
	.btn__explore {
		max-width: 40%;
	}
	.btn__watching {
		max-width: 40%;
	}
	.header__btn {
		max-width: 60vw;
		margin-left: 0;
	}
	.btn__search {
		font-size: 14px;
	}
	.btn__basket {
		font-size: 14px;
	}
	.btn__register {
		max-width: 80px;
	}
	.item__btn {
		width: 30vw;
		padding: 0;
	}
	.tables__btn {
		width: 30vw;
	}
	.join__points {
		display: none;
	}
	.benefits__points {
		margin-bottom: 150px;
	}
	.coments__text {
		height: 40%;
	}
	.coments__autor {
		align-items: center;
	}
	.blog__top {
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
	}
	.blog__title {
		margin: 0 auto;
	}
	.blog__item {
		width: 100%;
	}
	.blog__item-img {
		width: 100%;
	}
	.blog__item-img > img {
		width: 100%;
	}
	.blog__item-info {
		width: 100%;
		height: 68%;
	}
	.blog__info-text {
		height: 70%;
	}
	.popup__content {
		width: 80vw;
	}
	.popup__content {
		padding: 0;
	}
	.form__container {
		padding-left: 13%;
		padding-top: 10%;
	}
	.popup-register__title {
		padding-right: 10%;
	}
	.popup-search__content {
		padding: 5%;
	}
	.popup-about__content {
		padding: 10%;
	}
	.popup-about__content .popup__title {
		font-size: 28px;
	}
	.popup-contact__content {
		padding: 10%;
	}
}

@media (max-width: 360px) {
	.blog__item-info {
		height: 75%;
	}
	.register__buttons {
		margin: 0 auto;
		flex-direction: column;
		row-gap: 15px;
		max-width: 100%;
	}
	.popup-about__text {
		font-size: 12px;
	}
}
